/***************
 * GLOBAL VARS *
 ***************/


 // animation
@ANIM_TIME: 0.3s;


//lifebar
@LIFEBAR_OPACITY: .3;

#main {
	background: #FEFEFE;
}

#left-col {
	background: #CCC;
}


#main-col {
	background: #EEE;
}

#lifebar {
    width: 100%;
    height: 50px;
    background-color: grey;
    margin-bottom: 10px;
    opacity: @LIFEBAR_OPACITY;
    transition: opacity @ANIM_TIME ease-in;

    &:hover {
        opacity: 1.0;
        cursor: pointer;
    }
}

#lifebar-scale {
    width: 50%;
    height: 50px;
    background: red;
    transition: width .3s ease-in;

    &:hover {
        opacity: 1.0;
        cursor: pointer;
        width: 75%;
    }
}

.columns {
    color: white;
}