@import "base.less";

#main {
}

#left-col {
}


#main-col {
}

#col1 {
}

#top-row {
	height: @HEADER_HEIGHT;
	.columns {
	}	
}

#board {
	height: @BOARD_HEIGHT;
	position: relative;
	z-index: 1;
	overflow: hidden;
	.columns {
		border: 1px solid #000;
		border-top: 0px;
		border-bottom: 0px;
	}
}

div.icon {
	background: #CECECE;
	width: 100px;
	height: 100px;
	display: block;
	position: absolute;
	z-index: 2;
	
	&.press {
		background: red !important;
	}
	
	&.active {
		background: yellow;
	}
}